---
import Default from "@/layouts/default.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter(post => !post.data.draft);

let firstPostYear = posts[posts.length - 1].data.pubDate.getFullYear();

const tags = await getCollection("tag");
---

<Default fullWidth title="Blog">
  <h1 class="font-bold">
    Blog
  </h1>

  <h2 class="font-normal m-0">
    {posts.length} posts that I've written since {firstPostYear}.
  </h2>

  <section class="mt-8 w-full">
    <BlogPostList posts={posts} groupByYear={true} />
  </section>

  <section class="mt-12">
    <div class="flex flex-wrap gap-4">
      {tags.map((tag) => <a href={`/tags/${tag.slug}`}>#{tag.slug}</a>)}
    </div>
  </section>
</Default>
