---
import Default from "@/layouts/default.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
type Post = CollectionEntry<"blog">;
import FormattedDate from "@/components/FormattedDate.astro";

const currentYear = new Date().getFullYear();

let posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter(post => !post.data.draft);

let firstPostYear = posts[posts.length - 1].data.pubDate.getFullYear();

let tags = await getCollection("tag")

const postsGroupedByYear = posts.reduce(
  (acc: Record<string, Post[]>, post: Post) => {
    const year = post.data.pubDate.getFullYear();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  },
  {}
);
---

<Default fullWidth title="Blog">
  <h1 class="font-bold">Blog</h1>

  <h2>{posts.length} posts that I've written since {firstPostYear}.</h2>

  <section class="mt-16 w-full">
    <div class="flex flex-col gap-12 slide-enter-content">
      {
        postsGroupedByYear[currentYear].map((post) => (
          <a 
            class="flex flex-col gap-2 no-underline hover:no-underline"
            href={`/${post.slug}`}
          >
            <h2 class="leading-6 m-0">
              {post.data.title}
            </h2>
            <p class="m-0">{post.data.description}</p>
            <p class="m-0 text-foreground/80">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        ))
      }
    </div>

    <div class="flex flex-col gap-6 mt-8 slide-enter-content">
      {
        Object.keys(postsGroupedByYear)
          .sort((a, b) => Number(b) - Number(a))
          .slice(1)
          .map((year) =>
            postsGroupedByYear[year].map((post) => (
              <div class="flex flex-col gap-2">
                <h2 class="leading-6 text-lg m-0 flex items-center gap-2">
                  <a href={`/${post.slug}`}>{post.data.title}</a>
                </h2>
              </div>
            ))
          )
      }
    </div>
  </section>

  <section class="mt-12">
    <div class="flex flex-wrap gap-4">
      {tags.map((tag) => <a href={`/tags/${tag.slug}`}>#{tag.slug}</a>)}
    </div>
  </section>
</Default>
