---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Calendar, Tag } from "lucide-react";

import BaseHead from "@/components/BaseHead.astro";
import CommandMenu from "@/components/CommandMenu.tsx";
import Footer from "@/components/Footer.tsx";
import Footnotes from "@/components/Footnotes.tsx";
import Header from "@/components/Header.tsx";
import Repo from "@/components/Repo.tsx";
import WarningBanner from "@/components/WarningBanner.astro";

type Props = CollectionEntry<"blog">["data"];

const allTags = await getCollection("tag");
const posts = await getCollection("blog");

const { title, description, pubDate, repo, tags } = Astro.props;
const blogPostTags = await getCollection("tag", ({ slug }) => {
  // @ts-ignore
  return tags.map(({ slug: sl }) => sl).includes(slug);
});

const hasWarning = blogPostTags.find((tag) => tag.data.warning);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script src="https://platform.twitter.com/widgets.js"></script>
  </head>

  <body class="bg-background px-4 w-full">
    <div class="mb-8">
      <Header post={Astro.props} url={Astro.url} />
    </div>
    <div class="max-w-md lg:max-w-lg mx-auto space-y-8">
      <main>
        <article class="flex gap-4">
          <div class="prose flex-1 max-w-2xl">
            <div>
              <h1 class="tracking-tight mb-2 font-medium">
                {title}
              </h1>

              {description && <h2 class="text-foreground/70 font-normal mt-0 text-xl">{description}</h2>}
            </div>
            <div class="space-y-4">
              <div class="flex flex-wrap gap-4 items-center pb-4">
                <div class="flex gap-2 items-center text-foreground/70">
                  <Calendar size={16} />
                  {pubDate.toISOString().slice(0, 10)}
                </div>

                {
                  blogPostTags.length > 0 && (
                    <span class="flex gap-2 items-center text-foreground/70">
                      <Tag size={16} />
                      <span class="space-x-2">
                        {blogPostTags.map((tag) => (
                          <a href={`/tags/${tag.slug}`} class="text-primary hover:text-primary/80 transition-colors duration-300">#{tag.slug}</a>
                        ))}
                      </span>
                    </span>
                  )
                }
              </div>

              {hasWarning && <WarningBanner {...hasWarning.data.warning} />}

              {repo && <Repo client:only="react" repo={repo} />}

              <slot />
            </div>
          </div>

          <slot name="toc" />
        </article>
      </main>
      <Footer />
    </div>
    <Footnotes client:only="react" />
    <CommandMenu client:only="react" posts={posts} tags={allTags} />
  </body>
</html>
